.padre{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding: 15px
}
.header,.article,.derecha,.izquierda,.footer{
    flex-grow: 1;
    text-align: center;
    flex-basis: 100%;
    padding: 15px
}
.aside{
    flex: 1 1 auto
}
.article{
    flex: 2 0;
    order: 2
}
.header{
    background: #ffeafe
}
.article{
    background: #ccc1ff
}
.derecha{
    background: #9ea9f0;
    order: 3
}
.izquierda{
    background: #553c8b;
    order: 1
}
.footer{
    background: #58b368;
    order : 4
}
@media(max-width:600px){
    .aside{
        flex-basis: 100%;
    }
    .izquierda{
        order: 2
    }
    .article{
        order: 1
    }
}
@media(max-width:700px){
    .article{
        order: 1;
        flex: 1 1 auto
    }
    .izquierda{
        order: 2
    }
   
}
