*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     background:url(45.jpg);
    filter: saturate(300%),contrast(100%),brightness(100%);
    background-size: cover;
    background-position: center;
    background-attachment:contain; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
   
}
.general{
    display: grid;
   grid-template-columns: 20% 80%;
   grid-template-rows: 50px;
  
 
}
.dentro{
    
    background: rgba(0, 0, 0, 0.55);
   border-radius: 4px;
   margin-top: 540px;
}
.menu{
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 60px;
    box-sizing: border-box;
   box-shadow: 0px 2px 6px rgba(255,255,255,.7);
}
#coment{
    background: rgba(0, 0, 0, 0.75);
    
}
#reloj{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -150px;
    font-size: 13px;
   
}
.item2{
   grid-column: 1/2;
   margin-right: 5px;
}

.item3{
    grid-column: 2/4;
}
.item4{
    background:#07031a ;
    grid-column: 1/4;
    margin-right: 0px;
    margin-top: -0px;
    margin-left: 0px;
    border-radius: 4px;
    padding-bottom: 120px;
    display: grid;
}
.texto{
  text-align: center;
  font-family: sans-serif;
  
}
.Productos{
    text-align: center;
    background:rgba(12, 0, 0, 0.45);
    border-radius: 0px;
    margin: 5px 0 5px 0; 
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   
  
}
.categorias{
    text-align: left;
    text-decoration: none;
    color: #f6eedf;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1px;
   
}
.categoria{
    background: #c81912;
    border-radius: 4px;
    margin: 0px 10px;
     padding: 5px 12px
   

}

 .encabezado{ 
    /* padding-top: 20px; */
    font-size: 11px;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding:  9px 9px;
   
   
}
.encabezado:hover{
    background: white;
    color: black;
    border-radius: 100px;
    padding:  9px 9px;
    
} 
.encabezado i {
    margin-left: 2px;
}
.encabezado i:hover{
    color: black;
}
#Icono{
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    width: 40px;
    height: 40px;
    margin: 5px;
   margin-left: 8px;
    background: white
    
}
#Borde1{
    display: grid;
    grid-template-columns: 15% 75%;
    grid-column: 1/2;
   
}
/* #Borde2{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column: 2/3;
   padding-top: 5px;

} */
.Borde3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column: 3/4;
    border: 1px solid white;
    border-radius: 100px;
    align-content: center;
    height: 55px;
}
.Borde4{
 grid-column: 1/4;
} 

header{
    display: grid;
    grid-template-columns:100% ;
    width: 1263px;
   height: 580px;
    background: url(24.jpg);
    /*   */
   
    /* border-bottom: 1px solid ; */
    background-attachment: contain;
    background-position: center;
    background-size: cover;
    
}
#logo{
    font-size: 40px;
    margin-right: 10px;
    margin-top: 8px;
       color: white;
}
#logo:hover{
    color:rgba(255, 255, 255, 0.80)
}

h2{
    background:#c81912;
    border-radius: 4px;
    padding: 5px;
   margin: 50px;
    font-size: 30px;
    color: #f6eedf;

}
h1{
    margin-top: 5px;
    border-radius: 1px;
    font-size: 42px;
    color: white;
}
.H1{
    text-align: center;
   align-items: center;
   padding: 50px 50px 0 50px;
   font-size: 30px;
   display:flex;

   
}
footer{
    margin: 2px;
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: center;
    margin-top: 120px;
}

h5{
 
    color: #f6eedf;
}
h4{
    background:#c81912;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    color: #f6eedf;
}
a{
    text-decoration: none;
    color: #f6eedf;
    font-weight: 500;
   
}
a:active{
    color: black;
}
th{
    color:#f6eedf;
}
td{
    color:#f6eedf;
    font-weight: bold;
    border-radius: 4px;
   
}
.Tabla{
    grid-row: 2/3;
   margin-top: 10px;
  

}
select{
    border-radius: 4px;
    padding: 4px;
    font-weight:500;
}
input{
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
img{
    width: 90%;
   
}
p{
    color: black;
    font-weight: bold;
}
aside{
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    
}


.Especifico-Botones{
    display: grid;
   grid-gap: 10px;
  justify-items: center;
  
 
}
#Enviar{
margin-left: 8px;
}
.color-botones{
     border-radius: 4px;
     background: red;
     text-align: center;
     padding: 8px;
    
     
}
.color-botones:hover{
    /* background: #c72c41; */
    background: #801336;
}
#buscador{
    grid-column: 1/4;
}
.buscador1{
   
    margin-left: 1px;
    width: 98%;
   padding: 8px;
}
#aver{
    margin-left: -35px;
    filter: opacity(50%); 
}
.comentarios{
    display: grid;
  align-items: center;
  grid-gap: 10px;
  
}
.botones{
margin:5px;
align-content: center;

}
.color{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 4px;
    margin: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.anuncios{
    background:rgba(255, 255, 255, 0.60);
    width: 95%;
    box-shadow: 6px 5px 10px   black;
    box-sizing: border-box;
    padding-bottom: 5px;
     border-radius: 4px;
     margin-top:5px;
}
#prueba{
    grid-column: 1/2;
}
.fotosProductos{
    width: 255px;
    height: 250px;
   margin-left: 25px;
   margin-top: 10px;
   border-radius: 4px;
}
/* .ZapatosyFranela{
    width: 250px;
    height: 250px;
   margin-left: 25px;
   margin-top: 10px;
   border-radius: 4px;
} */
.todo{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: 33% 33% 33%; */
    padding-left: 13px;
   padding-bottom: 10px;
}
.queta{
    padding: 8px;
}
.queta:hover{
    border-radius: 4px;
     background:rgba(255,255,255,0.20);
    
} 
.tabla{
    background: rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    padding-top: 5px;
    margin: 0 5px 0 5px;
    padding-bottom: 6px;
}
@media(max-width:1024px){
    header{
        width: 1024px
    }
    .desaparece{
     display: none;
}
.item4{
        margin-right: 0px;
        margin-left: 0px;
        grid-row: 7/7;
}
.buscador1{ 
    margin-left: 1px;
    width: 97%;
}
.menu{
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 60px;
    box-sizing: border-box;
   box-shadow: 0px 2px 6px rgba(255,255,255,7);
}
.Borde3{
    background: rgba(0, 0, 0, 0.75);
    grid-row:2/3 ;
    grid-column: 1/3;
}
.item3{
    grid-column: 1/4;
    /* margin-right: -10px; */
    width: 1024px;
    padding-right: 0px;
}
.art2{
    grid-row: 3/4;
}
.art{
    grid-row: 4/5;
}
.art1{
    grid-row: 4/5;
}
.art3{
    grid-row: 2/3;
}
.fotosProductos {
    width: 90%;
    height: 210px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 4px;
}
 #reloj {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -30px;
    font-size: 13px;
}
.tabla{
    display: none;
}
.item2{
    grid-row: 3/4;
    grid-column: 1/4;
    margin-right: 0px;
    margin-top: 0px;
}
#Delivery{
    display: none;
}
.desparecer{
    display: none;
}
.todo{
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    grid-gap: 10px;
    padding-right: 13px;
    padding-left: 13px;
}
.anuncios{
    width: 97%
}

}

@media(max-width:768px){
    header{
        width: 768px
    } 
      .Borde3{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white;
}
.item3{
    width: 768px;
    padding-right: 0px;
}

.item4{
    margin-right: 0px;
    margin-left: 0px;
}
}
@media(max-width:736px){
    header{
        width: 736px
    }
 .item3{
     width: 736px;
     padding-right: 0px;
 }

.encabezado{ 
    font-size: 21px;
}
.quitar{
    display: none;
}
.item4{
    margin-right: 0px;
    margin-left: 0px;
}

}
 @media(max-width:414px){
    header{
        width: 414px
}
.buscador1{ 
    margin-left: 1px;
    width: 90%;
}

.todo{
    grid-template-columns: 100%;
    /* grid-template-rows: 13% 12% 12% 12% 12% 12% 12% 12%; */
    padding-right: 13px;
    padding-left: 13px;
}
.anuncios{
    width: 100%;
}
.buscador1{
    width: 94%;
}
.item3{
width: 414px;
padding-right: 0px;
}
.art{
grid-row: 2/3;
}
.art1{
grid-row: 3/4;
}
.art2{
    grid-row: 4/5;
}
.art4{
    grid-row: 5/6;
}
.art5{
    grid-row: 6/7;
}
.art6{
    grid-row: 7/8;
}
footer{
    grid-template-columns: 100%;
    /* grid-template-rows: 50% 50%; */
}
.item4{
    margin-right: 0px;
    margin-left: 0px;
}
h5{
    font-size: 11px;
}
#reloj{
   
    font-size: 11px;
} 

 }



